body {
	max-width: 960px;
	padding: 1em;
	margin: auto;
	font-family: Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #2e3436;
}

img {
	max-width: 100%;
}

table {
	border-collapse: collapse;
}

tr, td {
	border: 1px solid #babdb6;
	padding: 0.5em;
}
